node_modules/
**/node_modules/
**/dist/
**/build/
**/*.wasm
**/*.abi

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake
**/CMakeLists.txt


.idea/
node_modules/
build/
extensions/
.env
models/boxmaps/50-zeusrepoeos.json

contracts/eos/compile_commands.json
contracts/eos/*service/*service.cpp
contracts/eos/dappservices/*




models/.placeholder



contracts/eos/.placeholder
contracts/eos/CMakeLists.txt
contracts/eos/Common/events.hpp
models/events/.placeholder
contracts/eos/Common/base/base58.hpp
contracts/eos/Common/base/base64.hpp
contracts/eos/Common/string/bytes/string-5bit.hpp
contracts/eos/Common/string/bytes/string-6bit.hpp
contracts/eos/Common/string/uint128_t/string16-8bit.hpp
contracts/eos/Common/string/uint128_t/string21-6bit.hpp
contracts/eos/Common/string/uint128_t/string25-5bit.hpp
contracts/eos/Common/string/uint256_t/string32-8bit.hpp
contracts/eos/Common/string/uint256_t/string42-6bit.hpp
contracts/eos/Common/string/uint256_t/string50-5bit.hpp
contracts/eos/Common/string/uint64_t/string11-6bit.hpp
contracts/eos/Common/string/uint64_t/string12-5bit.hpp
contracts/eos/Common/string/uint64_t/string8-8bit.hpp
contracts/eos/eosio.bios/eosio.bios.abi
contracts/eos/eosio.bios/eosio.bios.wasm
contracts/eos/eosio.bios/eosio.bios.wast
contracts/eos/eosio.msig/eosio.msig.abi
contracts/eos/eosio.msig/eosio.msig.wasm
contracts/eos/eosio.msig/eosio.msig.wast
contracts/eos/eosio.sudo/eosio.sudo.abi
contracts/eos/eosio.sudo/eosio.sudo.wasm
contracts/eos/eosio.sudo/eosio.sudo.wast
contracts/eos/eosio.system/eosio.system.abi
contracts/eos/eosio.system/eosio.system.wasm
contracts/eos/eosio.system/eosio.system.wast
contracts/eos/eosio.token/eosio.token.abi
contracts/eos/eosio.token/eosio.token.wasm
contracts/eos/eosio.token/eosio.token.wast
test/encrypted-key.spec.js


migrations/55-contracts.js
models/contract-deployments/.placeholder

services/.placeholder
services/ipfs-daemon/index.js


models/boxmaps/00-mapping.json

models/repos/zeusrepoeos.json

